.code {
    font-family: monospace;
    color: #006;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
}
.code span.xtra {
    display: block;
}

body {
    margin: 50px;
}

#help {
    float: right;
}

.model-select {
}

.tabler {
    display: none;
}

.table {
    padding-top: 30px;
}

.predictions-graph, .target-graph, .target-graph-scatter{
    height: 200px;
}

.invisible {
    display: none;
}

.chart rect {
    fill: steelblue;
    stroke: white;
}

.target-graph rect{
    fill-opacity: 0.5;
}

rect.active, circle.active{
    fill: lightblue;
}

rect.oob-prediction {
    fill: red;
}

tr.active {
    color: #999;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.controls {
    margin: 20px;
}

dl {
    overflow: hidden;
}


dt {
    float: left;
    clear: left;
    margin-right: 5px;
}

dt:after{
    content: ":";
}
