
.code {
    font-family: monospace;
    color: #006;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
}

.code span.xtra {
    display: block;
}

body {
    width: 80%;
    margin-left: 5%;
    padding-top: 30px;
}

#container {
    padding-top: 30px;
}

#selector {
	width: 40%;
	float: left;
}

#graph {
	height: 300px;
	width: 60%;
	float: right;
	padding-top: 20px;
}

.chart rect {
	fill: steelblue;
	stroke: white;
}

rect.active {
	fill: lightblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#q2score {
	padding-top: 20px;
}