
.code {
    font-family: monospace;
    color: #006;
    border: 1px solid #d0d0d0;
    background-color: #f0f0f0;
}
.code span.xtra {
    display: block;
}

body {
    width: 80%;
    margin-left: 5%;
    padding-top: 30px;
}

#help {
	float: right;
}

#container {
    display: none;
    padding-top: 30px;
}

#graph{
    height: 250px;
}

.chart rect {
	fill: steelblue;
	stroke: white;
}

rect.active {
	fill: lightblue;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#controls {
    margin: 20px;
}

.score_div {
    padding: 5px;
}