<div id='helpmodal' class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h3>
            Modal header
        </h3>
    </div>
    <div class="modal-body">
        <p>
            machine readable version of the data at URLs of form:
            <br>
            <div class="code">
                /receptor_name/method
            </div>
            <br>
            with Content-Type: 'application/json'
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close
        </button>
    </div>
</div>
