<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>odor receptor predictions</title>
        <link href={{url_for( "static", filename="css/bootstrap.css" )}} rel="stylesheet" type="text/css" />
        <link href={{url_for( "static", filename="css/odorapp.css" )}} rel="stylesheet" type="text/css" />
        <script src={{url_for( "static", filename="js/jquery-1.9.0.js" )}}></script>
        <script src={{url_for( "static", filename="js/bootstrap.js" )}}></script>
        <script src={{url_for( "static", filename="js/d3.v3.js" )}}></script>
    </head>

    <body>
        {% include 'helpmodal.html' %}
        <a href="#helpmodal" role="button" class="btn" data-toggle="modal" id='help'>Help</a>
        <form>
            <fieldset>
                <legend>Predictions for receptor and method</legend>
                <div class='row'>
                    <div class='span3'>
                        <label>Receptor</label>
                        <select name="receptor" class="receptor">
                            {% for receptor in receptors %}
                                <option>{{ receptor }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class='span3'>
                        <label>Method</label>
                        <select name="method" class="method">
                            {% for method in methods %}
                                <option>{{ method }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
        </form>
        <p id='q2score'>
            q2 score:
            <span id='score'></span>
            <span id='score_label' class="label"></span>
        </p>
        <div class='row'>
            <div class='span12' id='graph'></div>
        </div>
        <div id='controls'>
            <button class="btn" id="more">more</button>
            <button class="btn" id='table_button'>show table</button>
        </div>
        <div id="container">
            <table class="table table-striped">
                <thead></thead><tbody></tbody>
            </table>
        </div>
        <script src={{url_for( "static", filename="js/script.js" )}}></script>
    </body>
</html>