<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Physical properties vs. vibrational descriptors for virtual screening of odorants</title>
    <link href={{url_for( "static", filename="css/bootstrap.css" )}} rel="stylesheet" type="text/css" />
    <link href={{url_for( "static", filename="css/odorapp.css" )}} rel="stylesheet" type="text/css" />
    <script src={{url_for( "static", filename="js/jquery-1.9.0.js" )}}></script>
    <script src={{url_for( "static", filename="js/bootstrap.js" )}}></script>
    <script src={{url_for( "static", filename="js/d3.v3.js" )}}></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41043018-1']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <h1>Predictions for receptor and method</h1>
    <p>Please cite: Gabler, Soelter, Hussain, Sachse and Schmuker (2013): Physicochemical properties vs. vibrational descriptors for virtual screening of odorants. <i>Molecular Informatics, in press</i>.</p>
    {% include 'helpmodal.html' %}
    <a href="#helpmodal" class="btn" data-toggle="modal" id='help'>
      <i class='icon-question-sign'></i> Help
    </a>
    <div class='navigation-info row'>
      <form class="model-select span4">
        <label>Receptor</label>
        <select name="receptor" class="receptor">
          {% for receptor in receptors %}<option>{{ receptor }}</option>{% endfor %}
        </select>
        <label>Method</label>
        <select name="method" class="method">
          {% for method in methods %}<option>{{ method }}</option>{% endfor %}
        </select>
      </form>

      <div class='span4'>
        <dl>
          <dt>q2 score</dt>
          <dd id='score'></dd>
          <dt>q2 quality</dt>
          <dd><span id='score_label' class="label"></span></dd>
          <dt># of training targets</dt>
          <dd id='n-targets'></dd>
        </dl>
      </div>
      <dl class="pred-info span4">
        <dt>Name</dt><dd id='chemname'> </dd>
        <dt>Predicted Value</dt><dd id='pred'> </dd>
        <dt>SMILES</dt><dd id='smile'> </dd>
        <dt>True Value</dt><dd id='target'> </dd>
      </dl>
    </div>

    <div class='graphs row'>
      <div class='left-graph span6'>
        <h3>predictions</h3>
        <div class='predictions-graph'></div>
        <div class='controls'>
          <button class="btn" id="only-10-btn"><i class='icon-fast-backward'></i> 10</button>
          <button class="btn" id="less-btn"><i class='icon-chevron-left'></i> less</button>
          <button class="btn" id="more-btn"><i class='icon-chevron-right'></i> more</button>
          <button class="btn" id="all-btn"><i class='icon-fast-forward'></i> all</button>
        </div>
      </div>
      <div class="right-graph span6">
        <h3>target vs. oob prediction</h3>
        <div class='target-graphs'>
          <div class="target-graph-scatter"></div>
          <div class="target-graph invisible"></div>
        </div>
        <div class='controls'>
          <button class="btn" id="btn-scatter" disabled>scatter</button>
          <button class="btn" id="btn-bar">bar</button>
        </div>
      </div>
    </div>


    <button class="btn" id='table_button'><i class='icon-list'></i> show table</button>
    <a href={{url_for("static", filename="data/training_data.zip")}} class='btn'>
      <i class='icon-download'></i>
      download raw data
    </a>
    <div class='tabler'>
    <table class="table table-striped">
      <thead>
        <td>Name</td>
        <td>predicted response</td>
      </thead>
      <tbody id='table-body'></tbody>
    </table>
    </div>
    <script src={{url_for( "static", filename="js/predictionsGraph.js" )}}></script>
    <script src={{url_for( "static", filename="js/targetGraph.js" )}}></script>
    <script src={{url_for( "static", filename="js/targetGraphScatter.js" )}}></script>
    <script src={{url_for( "static", filename="js/script.js" )}}></script>
  </body>
</html>